@media screen and (min-width: 768px) {
  body {
    width: 100%;
    background: #fff;
  }
  .header {
    min-width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    background-image: url(./img/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  .name {
    font-weight: 700;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 154px;
  }
  .nav-b > .nam {
    display: none;
  }
  .nav-b > .names {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    gap: 32px;
    margin-right: 156px;
    list-style-type: none;
  }
  .intro {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .heading {
    margin-left: 143px;
    font-size: 68px;
    color: #f55800;
  }
  .dev {
    margin-left: 143px;
    font-size: 29px;
    font-family: "Inter", sans-serif;
  }
  .info {
    margin-left: 143px;
    text-size-adjust: 50%;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    color: #f4f5f7;
    margin-right: 600px;
    line-height: 32px;
  }
  .social-media {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: -250px;
  }
  .project-btn {
    display: none;
  }
  hr {
    display: none;
  }
  .titel {
    display: inline;
    margin: 0;
  }
  .titells {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 24px;
    width: 700px;
  }
  .titels {
    margin-top: 135px;
    margin-bottom: 114px;
    margin-left: 153.5px;
    margin-right: 24px;
  }
  .works {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    margin-left: 141px;
  }
  .placeholder {
    display: none;
  }
  .placeholders {
    display: block;
    width: 674px;
    height: 448px;
  }
  .post {
    font-size: 40px;
    width: 448px;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .categories,
  .info1 {
    margin-bottom: 24px;
    padding: 0;
  }
  .projects {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-top: 24px;
    margin-left: 141.5px;
    margin-right: 143.3px;
  }
  .about {
    background-repeat: no-repeat;
    background-image: url(./img/Frame2.png);
    background-position: right -1% bottom 90%;
    padding-left: 142px;
  }

  .about > p {
    width: 566px;
    font-size: 20px;
    line-height: 32px;
  }
  .works-details {
    width: 448px;
  }
  .inline {
    display: block;
    width: 90%;
    margin-bottom: 147px;
  }
  .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 206px;
  }
  .lang {
    margin-top: 0;
  }
  /* .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
  .contact-form > h2 {
    background-color: aqua;
    width: 200px;
    text-align: center;
    margin-left: 200px;
  }
  form {
    background-color: red;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #172b4d;
    gap: 5px;
    margin-top: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 73px;
    list-style-type: none;
  }

  form > ul > li > input {
    list-style-type: none;
    border-style: none;
    width: 295px;
    height: 18px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contact-form > form > ul > li {
    list-style-type: none;
  }

  input > hr {
    margin-top: 14px;
  }

  textarea {
    width: 327px;
    height: 114px;
    margin-top: -50px;
  }

  .social {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 23px;
    margin-top: -50px;
  }

  .shape {
    display: block;
    margin: auto;
    width: 150px;
    margin-bottom: 10px;
    justify-content: space-evenly;
  }
}
